<article>
  <div class="container">
    <%= link_to("tweets/new") do %>
    <div class="top-logo">
      <p>ゴラッソ！</p>
    </div>
    <% end %>
  </div>
  <div class="about">
    <h2>About ゴラッソ！</h2>
    <p>
      ゴラッソ！は、サッカーのあるあるネタ情報を投稿するアプリです。<br>
      トップメニューの「サッカーあるあるをつぶやく」から140文字以内で自由に投稿ができますので、<br>
      皆さんの持つサッカーあるあるでゴラッソを決めてください！
    </p>
  </div>
</article>
